
<div>
    <div class="produto.container">        
        <div class="produto-individuais">
            <div>
                <h3>{{artigo.marca}}</h3>
                <h6>{{artigo.nome}}</h6>
            </div>
            <div class="produto-individuais-img">
                <img src="/assets/Imagens/{{ artigo.foto_principal }}"/>
                <img src="/assets/Imagens/{{ artigo.foto_secundaria }}"/>
            </div>
            <div>
                <h5>{{artigo.tipo_de_produto}}&nbsp;{{artigo.cor}}</h5>
                <h5>{{artigo.preco}}€</h5>
                <p>{{artigo.descricao}}</p>
            </div>
        </div>
    </div>
</div>